body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
svg {
  left: 50%;
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
}

div {
  text-align: center;
}

.bar:hover {
  fill: orange;
}
